*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
	font-family: sans-serif;
}

#grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 900px;
}

.square {
	width: 80px;
	height: 80px;
	border: solid 1px black;
}

.evidenziato{
    background-color: black;
}